<h1>Let's play SET!</h1>

<h3>
	<a href="http://www.setgame.com/sites/default/files/tutorials/tutorial/SetTutorial.swf" target="_blank">Instructions</a>
</h3><p>(Highly recommended to play through tutorial if its your first time.)</p>

<h3>How to play</h3>

	<p>SET is a speed game. Race to find as many SETs as fast as you can. Be the one who has the most SETs when the cards are gone, and you win! SET is a game of fast-thinking fun!</p>



<%= form_for(@game) do |f| %>
    <button>New Game</button>
<% end %>

