.container {
  width: 50%;
  float: left;
  margin-left: 25%;
}

form {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 30%;
}

button {
  background-color: white;
  border-color: black;
  border-style: solid;
}

html {
  background-color: Lavender;
}

#logo {
  width: 3%;
}

nav {
  float: right;
}
